td {
  font-size: 10rem;
  width: 11rem;
  height: 11rem;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  text-shadow: 0px 2px 10px #000;
  background-color: #222;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: inset 1px 1px 10px #000;
  color: #EEE;
}

body{
  display: flex;
  justify-content: center;
  background-color: #333;
}